<ul class="edit-group">
  <li><a href="#" class="add-link">View</a></li>
  <li><a href="#" class="add-link">Edit</a></li>
  <li><a href="#" class="add-link">Archive</a></li>
  <li><a href="#" class="add-link">Hide</a></li>
  <li><a href="#" class="add-link">Remove</a></li>
</ul>