<div class="permission-group">
  <span class="draft">Draft</span>
  <span aria-hidden="true" class="permission-icon icon-eye-blocked"></span>
  <span aria-hidden="true" class="permission-icon icon-locked"></span>
</div>